
.row {
    background-color:blue;
    margin :30px;


}

[class^="col-"], .col {
    background-color: green;
    margin: 0px; /* 여기 1이라도 주면 왜안되는거야...
    padding: 1px; 패딩은되는데

    */
    display: flex;
    flex-direction: column;
}


.dash-table-container{
    display: inline-block;
    margin: 10px;
    background-color:red;
    height:100%;
}

img{
 /* box-shadow : 10px 7px 20px orange; */
 filter: drop-shadow(10px 7px 20px orange);
}



/* echart 사이즈는 css로 줄것..
 vh, px 단위만적용되는거같음??.
 vh로 하면 반응형으로 되긴하는데.. ,,이전전체화면일떄나그런거아냐?ㅠㅠ
  height는  100%이게 안먹음,,
  그이고 그래프가 반응형이 안되는듯,,
*/
/*
#myecharts {
  width: 50vw;
  height: 450px;
}*/
/* 이렇게 줘야 툴팁같은건영향없음
#myecharts div canvas{
  width: 100% ;
  height: 100% ;
}*/


/*
.card{
    margin: 0 auto;
    width:100px;
    height:100px;
    background-color : #000;
    position:relative;
    border-radius:8px;
    display:grid;
    place-items: center;
    overflow:hidden;
}

.card:hover{
    scale:2;
}

.card::before {
    content: "";
    position: absolute;
    width:50px;
    height:140%;
    background-image: linear-gradient(
        180deg,
        #ff1b1b,
        #ff8585
    );
    animation: rotate 5s linear infinite;
}

.card::after {
    content: "";
    position: absolute;
    inset:2px;
    background-color:#030029;
    border-radius:inherit;
}
*/
@keyframes rotate{
100%{
    rotate:360deg;
}
}


/*툴팁이 부모요소 내 고정위치로 하기위해 했음,,*/
.dash-table-container .dash-spreadsheet-container {
    position: absolute !important;
    top: 0px !important;
    border-radius: 10px!important; /* 둥글게 하고자 하는 테두리의 반지름 값 설정 */
    border: 2px solid black!important;
    overflow: auto!important;
    margin: 30px!important;
    height:100%;
    background-color:orange;
}

/*툴팁이 부모요소 내 고정위치록 고정할떄 화살표 없애려고함 바꾸는건힘들듯,,,*/
.dash-tooltip:before,.dash-tooltip:after{
    display:none;
}
/*툴팁이 부모요소 내 고정위치로 하기위해 했음, 만이배웠다, 컨테이너안에 자식들이 툴팁, 표 이래서 고생했음 ,*/
.dash-tooltip {
    left: 10px !important;
     top: 10px !important;
    position :sticky !important;
    width: min-content !important;


}


.heropy{
 /*animation : heropy 2s;*/
 animation-name:heropy;
 animation-duration: 2s;
 animation-timing-function: linear;
 /*ease 기본값 이구, steps(10) lenear */
 animation-delay: 2s;
 animation-iteration-count: 10;
 /*1 기본값 이구,숫자 혹은 infinite */
 animation-direction: alternate-reverse;
 /*alternate(왕복), reverse, alternate-reverse */
 animation-play-state: running;
 /*paused (에니메이션중지가능 보통 호버루~?) */
 animation-fill-mode:none;
 /*기본값 none . forwards(종료후 최초위치로 안감)
   , backwards(최초위치에서 시작하지않고 0%위치에서 출발 )
    both는 둘다~ ㅋㅋㅋㅋㅋ지려@!!!!!!!!!!!!*/


}

@keyframes heropy {
    0% {
    transform:translate(200px,50px);
    background-color:royalblue;
    }
    100% {
    transform:translate(200px,200px);
    background-color:red;
    }
}

.icon {
    width: 100px;
    height:100px;
    border: 4px solid red;
    background-image: url("https://raw.githubusercontent.com/ParkYoungWoong/apple-ipad-app/main/images/sprite_apps.png");
    /*background-position: -500px -100px;*/

    /*animation-name: heropyframe;
    animation-duration : 3s;
    animation-timing-function : steps(1);
     animation-delay: 2s;
    animation-iteration-count: infinite; */
    animation : heropyframe 3s steps(1) infinite 2s;
}

@keyframes heropyframe {
  /* 1~10 */
  0.00% { background-position: 0 0; }
  1.67% { background-position: -100px 0; }
  3.33% { background-position: -200px 0; }
  5.00% { background-position: -300px 0; }
  6.67% { background-position: -400px 0; }
  8.33% { background-position: -500px 0; }
  10.00% { background-position: 0 -100px; }
  11.67% { background-position: -100px -100px; }
  13.33% { background-position: -200px -100px; }
  15.00% { background-position: -300px -100px; }

  /* 11~20 */
  16.67% { background-position: -400px -100px; }
  18.33% { background-position: -500px -100px; }
  20.00% { background-position: 0 -200px; }
  21.67% { background-position: -100px -200px; }
  23.33% { background-position: -200px -200px; }
  25.00% { background-position: -300px -200px; }
  26.67% { background-position: -400px -200px; }
  28.33% { background-position: -500px -200px; }
  30.00% { background-position: 0 -300px; }
  31.67% { background-position: -100px -300px; }

  /* 21~30 */
  33.33% { background-position: -200px -300px; }
  35.00% { background-position: -300px -300px; }
  36.67% { background-position: -400px -300px; }
  38.33% { background-position: -500px -300px; }
  40.00% { background-position: 0 -400px; }
  41.67% { background-position: -100px -400px; }
  43.33% { background-position: -200px -400px; }
  45.00% { background-position: -300px -400px; }
  46.67% { background-position: -400px -400px; }
  48.33% { background-position: -500px -400px; }

  /* 31~40 */
  50.00% { background-position: 0 -500px; }
  51.67% { background-position: -100px -500px; }
  53.33% { background-position: -200px -500px; }
  55.00% { background-position: -300px -500px; }
  56.67% { background-position: -400px -500px; }
  58.33% { background-position: -500px -500px; }
  60.00% { background-position: 0 -600px; }
  61.67% { background-position: -100px -600px; }
  63.33% { background-position: -200px -600px; }
  65.00% { background-position: -300px -600px; }

  /* 41~50 */
  66.67% { background-position: -400px -600px; }
  68.33% { background-position: -500px -600px; }
  70.00% { background-position: 0 -700px; }
  71.67% { background-position: -100px -700px; }
  73.33% { background-position: -200px -700px; }
  75.00% { background-position: -300px -700px; }
  76.67% { background-position: -400px -700px; }
  78.33% { background-position: -500px -700px; }
  80.00% { background-position: 0 -800px; }
  81.67% { background-position: -100px -800px; }

  /* 51~60 */
  83.33% { background-position: -200px -800px; }
  85.00% { background-position: -300px -800px; }
  86.67% { background-position: -400px -800px; }
  88.33% { background-position: -500px -800px; }
  90.00% { background-position: 0 -900px; }
  91.67% { background-position: -100px -900px; }
  93.33% { background-position: -200px -900px; }
  95.00% { background-position: -300px -900px; }
  96.67% { background-position: -400px -900px; }
  98.33% { background-position: -500px -900px; }
}
/*
[class^="col-"] {
    background-color: green;
    height : 100%;
}*/




